<%= @answer %>
<%= link_to "go back to questions", ask_path  %>

<figure class="text-center">
  <blockquote class="blockquote">
    <p><%= @answer %></p>
  </blockquote>
  <figcaption class="blockquote-footer">
    Stupid coach
  </figcaption>
</figure>

<%# pe & er tab %>
