
<form action="/answer" data-turbo="false">
<div class="input-group input-group-lg">
 <input type="text" name="question"class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
  <input type="submit" value="Ask!" class="input-group-text" id="inputGroup-sizing-lg">
</div>

</form>
